.collection-list {
  &__container {
    margin: 1rem 0rem;
  }
  &__name {
    opacity: 0.7;
    font-size: 14px;
  }
  &__separator {
    opacity: 0.7;
    font-size: 14px;
    margin-inline: 0.25rem;
  }
  &__header {
    margin-bottom: 1.5rem;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
  }
}
