.cleancertificate{
    overflow: hidden;
  }
  .cleanLabel_container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  
    @media (min-width: 576px) {
      max-width: 540px;
    }
  
    @media (min-width: 768px) {
      max-width: 720px;
    }
  
    @media (min-width: 992px) {
      max-width: 960px;
    }
  
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  
    @media (min-width: 1400px) {
      max-width: 1270px;
    }
  }
  
  .clean_label_banner {
  &_section {
    background-image: url('/plixlifefc/assets/clean-label-banner-bg-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #feffed;
    padding-top: 22px;
    padding-bottom: 135px;
    position: relative;
    overflow: hidden;
  
    @media (min-width: 576px) {
      padding-top: 50px;
    }
  
    @media (min-width: 992px) {
      background-image: url('/plixlifefc/assets/clean-label-banner-bg.png');
      padding-top: 155px;
      padding-bottom: 142px;
    }
  }
  
  &_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    @media (min-width: 992px) {
      max-width: 930px;
      margin-left: auto;
      margin-right: auto;
      flex-direction: row;
    }
  
    .left_col {
      width: 100%;
      max-width: 135px;
  
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
      @media (min-width: 768px) {
        max-width: 210px;
      }
  
      @media (min-width: 992px) {
        width: 28.3%;
        max-width: 263px;
        padding: 0 50px 0 0;
      }
    }
  
    .right_col {
      text-align: center;
  
      @media (min-width: 992px) {
        width: 67%;
        text-align: unset;
      }
  
      h1 {
        font-family: 'cocosharp_xlextrabold_italic';
        font-size: 24px;
        line-height: 34px;
        font-style: italic;
        font-weight: 800;
        color: #095933;
        max-width: 335px;
        margin: 0 auto 22px auto;
  
        @media (min-width: 768px) {
          font-size: 42px;
          line-height: 54px;
          max-width: 100%;
          margin-bottom: 32px;
        }
  
        span {
          color: #5dd37c;
        }
      }
  
      ul {
        list-style: none;
        margin: 0;
        padding: 12px 0 0;
        display: flex;
        gap: 17px;
        align-items: center;
        justify-content: center;
        font-family: "CocoSharp XL";
        font-style: normal;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #1eaf6d;
        border-top: 1px solid #e7e7e7;
  
        @media (min-width: 768px) {
          padding-top: 22px;
          font-size: 24px;
          line-height: 30px;
        }
  
        @media (min-width: 992px) {
          justify-content: start;
        }
  
        li {
          position: relative;
  
          &:not(:first-child) {
            padding-left: 27px;
            &::before {
              content: "";
              background-image: url('data:image/svg+xml, <svg viewBox="0 0 10 11" fill="%231EAF6D" xmlns="http://www.w3.org/2000/svg"><path d="M4.85543 10.3191C2.13544 10.3155 -0.022813 8.17887 0.000182051 5.52513C0.0264621 2.83907 2.16172 0.706026 4.84557 0.680889C7.55899 0.655752 9.64826 2.73852 9.6384 5.4569C9.62526 8.46255 7.79551 10.3227 4.85214 10.3191H4.85543Z" /></svg>');
              background-position: center;
              background-repeat: no-repeat;
              width: 10px;
              height: 100%;
              position: absolute;
              left: 0;
            }
          }
        }
      }
    }
  }
  }
  
  .clean_label_section_1 {
  padding-top: 42px;
  padding-bottom: 42px;
  
  @media (min-width: 768px) {
    padding-top: 82px;
    padding-bottom: 62px;
  }
  
  &_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 22px;
    
    @media (min-width: 768px) {
      gap: 50px;
    }
  
    @media (min-width: 992px) {
      justify-content: space-between;
      gap: 100px;
    }
  
    @media (min-width: 1400px) {
      gap: 164px;
    }
  
    .image_col {
     @media (max-width: 992px) {
        width: 100%;
    }
      @media (min-width: 992px) {
        width: 55.3%;
      }
  
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
  
      .video_play {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 15px;
        iframe{
            width: 100%;
            height: 451px;
            border-radius: 15px;
            @media (max-width: 520px) {
                height: 222px;
            }
        }
        .play_icon {
          background-image: url('data:image/svg+xml,<svg viewBox="0 0 82 81" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33.3887 59.9271V21.7992L55.4972 41.3397L33.3887 59.9271Z" fill="%23F3F3F3"/></svg>');
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: rgba(0, 0, 0, 0.5);
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
  
          @media (min-width: 768px) {
            width: 82px;
            height: 82px;
          }
        }
      }
    }
  
    .text_col {
      @media (min-width: 992px) {
        width: calc(44.3% - 164px);
      }
  
      h2 {
        margin-bottom: 0;
        font-family: 'cocosharp_xlextrabold_italic';
        font-size: 32px;
        font-style: italic;
        font-weight: 800;
        line-height: 38px;
        text-align: center;
        position: relative;
        max-width: 290px;
        color: #06543d;
  
        @media (min-width: 576px) {
          max-width: 400px;
        }
  
        @media (min-width: 768px) {
          font-size: 50px;
          line-height: 67px;
          text-align: unset;
          max-width: 100%;
        }
  
        @media (min-width: 992px) {
          font-size: 45px;
          line-height: 60px;
        }
  
        @media (min-width: 1200px) {
          font-size: 50px;
          line-height: 67px;
        }
  
        @media (min-width: 1400px) {
          font-size: 64px;
          line-height: 77px;
        }
  
        &:after {
          content: "";
          background-image: url('data:image/svg+xml, <svg viewBox="0 0 46 59" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.1343 26.6514L22.1337 26.6839L21.1343 26.6514ZM2.74333 23.2983L1.80956 22.9405L2.74333 23.2983ZM36.2549 58.1094L35.6813 46.5767L45.9558 51.8463L36.2549 58.1094ZM22.1337 26.6839C21.9874 31.1735 20.3465 34.2529 17.8847 36.0026C15.4475 37.7348 12.3702 38.0452 9.56491 37.3439C6.76049 36.6429 4.1239 34.9081 2.53068 32.3962C0.917881 29.8535 0.416256 26.5758 1.80956 22.9405L3.6771 23.6562C2.50594 26.712 2.95161 29.3259 4.2196 31.325C5.50717 33.355 7.68487 34.8124 10.05 35.4036C12.4142 35.9947 14.8616 35.6976 16.7261 34.3724C18.566 33.0647 20.0038 30.6366 20.1348 26.6188L22.1337 26.6839ZM1.80956 22.9405C3.93491 17.3951 8.14598 14.6178 13.0703 14.0801C17.9279 13.5498 23.4133 15.1963 28.2881 18.2924C38.0193 24.473 45.7972 36.7782 41.3104 50.4171L39.4105 49.7921C43.5184 37.305 36.4572 25.8502 27.2158 19.9807C22.6043 17.0518 17.5701 15.6007 13.2874 16.0683C9.07128 16.5286 5.52117 18.8447 3.6771 23.6562L1.80956 22.9405ZM3.21284 0.0945395C14.2552 4.76713 22.5425 14.1462 22.1337 26.6839L20.1348 26.6188C20.5088 15.146 12.9602 6.39084 2.43344 1.93642L3.21284 0.0945395Z" fill="%231EAF6D"/></svg>');
          background-size: auto;
          background-repeat: no-repeat;
          width: 46px;
          height: 59px;
          position: absolute;
          bottom: -10px;
          right: -36px;
          z-index: -1;
  
          @media (min-width: 768px) {
            width: 100px;
            height: 110px;
            right: -28px;
          }
  
          @media (min-width: 992px) {
            background-image: url('data:image/svg+xml, <svg viewBox="0 0 159 166" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M77.7953 72.5897L78.7805 72.4184L77.7953 72.5897ZM15.262 74.113L14.2749 73.9524L15.262 74.113ZM148.73 165.369L146.975 153.956L157.736 158.142L148.73 165.369ZM78.7805 72.4184C81.2598 86.6814 78.0563 97.0896 71.7899 103.84C65.544 110.569 56.3934 113.514 47.2585 113.146C38.1246 112.778 28.8998 109.097 22.4376 102.431C15.9499 95.7399 12.2997 86.0917 14.2749 73.9524L16.249 74.2736C14.3734 85.8003 17.8339 94.8099 23.8735 101.039C29.9385 107.295 38.6576 110.797 47.3391 111.147C56.0197 111.497 64.5562 108.694 70.3241 102.48C76.0715 96.288 79.2085 86.5589 76.8101 72.7609L78.7805 72.4184ZM14.2749 73.9524C17.5409 53.8805 30.2622 42.3791 46.8528 38.1677C63.3734 33.9741 83.6913 37.0042 102.39 45.7775C121.1 54.5562 138.299 69.1349 148.544 88.1863C158.802 107.262 162.059 130.774 152.94 157.303L151.048 156.653C159.986 130.654 156.778 107.722 146.782 89.1335C136.773 70.521 119.929 56.216 101.54 47.5881C83.1402 38.9548 63.3029 36.0554 47.3449 40.1062C31.4568 44.1393 19.3759 55.0563 16.249 74.2736L14.2749 73.9524ZM0.56209 0.074256C39.2731 7.74459 71.8062 32.2954 78.7805 72.4184L76.8101 72.7609C70.0182 33.6878 38.3352 9.59763 0.173365 2.03612L0.56209 0.074256Z" fill="%231EAF6D"/></svg>');
            width: 160px;
            height: 166px;
            bottom: -130px;
            right: -80px;
          }
        }
      }
    }
  }
  }
  
  .clean_label_section_2 {
  background-color: #f6f6f6;
  padding-top: 32px;
  padding-bottom: 42px;
  position: relative;
  
  @media (min-width: 768px) {
    padding-top: 62px;
    padding-bottom: 62px;
  }
  
  &_row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
    @media (min-width: 992px) {
      gap: 100px;
    }
  
    .image_col {
      @media (min-width: 992px) {
        width: 18.75%;
        text-align: center;
      }
  
      img {
        width: 100%;
        max-width: 138px;
  
        @media (min-width: 768px) {
          max-width: 193px;
        }
      }
    }
  
    .text_col {
      text-align: center;
  
      @media (min-width: 992px) {
        width: calc(81.25% - 100px);
        text-align: unset;
      }
  
      h3 {
        font-family: "CocoSharp XL";
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.02em;
        margin-bottom: 12px;
        margin-top: 0;
        color: #095933;
        max-width: 290px;
        margin: auto;
  
        @media (min-width: 768px) {
          font-size: 24px;
          line-height: 38px;
          margin-bottom: 22px;
          max-width: 100%;
        }
      }
  
      p {
        font-family: "CocoSharp XL";
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: -0.02em;
        color: #095933;
        margin-bottom: 7px;
  
        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 26px;
          margin-bottom: 17px;
        }
      }
  
      .text_link {
        font-family: 'cocosharp_xlextrabold';
        font-size: 12px;
        font-weight: 800;
        line-height: 19px;
        letter-spacing: 0.05em;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #5dd37c;
      }
    }
  
    + .clean_label_section_2_row {
      padding-top: 32px;
      margin-top: 42px;
      border-top: 1px solid #e7e7e7;
  
      @media (min-width: 768px) {
        padding-top: 74px;
        margin-top: 74px;
      }
  
      &::before,
      &:after {
        content: "";
        background-size: auto;
        background-repeat: no-repeat;
        position: absolute;
      }
  
      &::before {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 31 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.88949 0.970513C11.6259 4.20329 14.459 12.3711 11.2409 19.1959C9.38553 23.108 7.7149 27.1294 8.9159 26.6141C11.1947 25.6302 15.0595 14.9558 18.7856 14.3311C22.5041 13.7064 29.9796 18.2901 30.6032 24.1309C31.2268 29.9796 33.0128 42.9185 17.4461 48.7438C4.61234 53.5461 -0.484179 52.5544 -8.85266 48.8921C-16.7361 45.4407 -20.9781 35.9376 -19.8079 23.0612C-19.1228 15.5492 -6.24285 -4.21442 4.52763 0.806539C4.65081 0.861199 4.77401 0.923669 4.88949 0.97833" fill="%23D39BD1"/></svg>');
        background-position: left;
        width: 31px;
        height: 52px;
        left: 0;
        top: -20px;
  
        @media (min-width: 768px) {
          width: 58px;
          height: 97px;
          top: -40px;
        }
        @media (min-width: 992px) {
          display: none;
        }
      }
  
      &::after {
        background-image: url('data:image/svg+xml,<svg viewBox="0 0 100 180" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M101.346 39.5456C137.745 39.2466 176.944 78.843 180.518 112.757C184.271 147.987 146.204 180.765 109.567 179.509C67.1509 178.073 42.7856 151.696 40.8792 112.817C38.8538 71.2467 66.6149 39.8447 101.346 39.5456V39.5456Z" fill="%239EDCF2"/><path d="M110.351 118.31C109.613 121.539 107.812 124.234 106.012 126.929C102.914 131.567 99.1914 135.628 94.7816 139.036C90.6028 142.265 85.8942 144.601 80.8623 145.985C74.4471 147.747 67.8579 148.712 61.1481 148.377C56.7054 148.155 52.3151 147.52 47.9345 146.741C42.7033 145.809 37.6768 144.149 32.638 142.548C29.5221 141.561 26.537 140.172 23.4962 138.961C22.2507 138.463 21.9188 137.441 21.8245 136.202C21.1373 127.19 20.6749 118.139 19.6338 109.187C18.3502 98.1368 21.4509 88.2023 25.3656 78.2563C26.839 74.5143 28.7102 71.0602 31.2911 67.9852C33.225 65.6817 35.4602 63.7561 38.1677 62.403C43.1896 65.7201 48.2814 68.9334 53.659 71.6401C58.2893 73.9704 63.1192 75.8631 68.037 77.5251C72.5781 79.0564 77.2545 79.8684 81.9569 80.7656C86.8465 81.6974 91.65 81.0182 96.476 81.3312C97.2888 81.3865 98.3104 80.637 98.9074 81.2658C99.7726 82.1747 98.2832 82.7638 98.1893 83.6221C98.1596 83.9079 97.9298 84.1662 97.8288 84.4516C96.2664 88.8328 94.4074 93.1293 93.6258 97.7427C92.8471 102.346 92.2043 106.966 92.3186 111.671C92.46 117.49 94.403 122.812 96.6093 128.072C97.0688 129.165 97.9695 130.086 99.0782 129.272C99.8879 128.677 100.935 128.203 101.494 127.444C103.258 125.026 105.59 123.181 107.616 121.031C108.493 120.101 108.819 118.585 110.352 118.315L110.351 118.31ZM83.2187 86.9032C82.4013 85.4108 81.8953 86.1026 81.4459 87.1583L80.9399 87.3138C80.3656 87.0697 79.9231 87.3077 79.4737 87.6563C77.6365 89.0915 76.6384 90.7903 76.771 93.2988C76.9237 96.1784 77.1666 96.5725 79.9316 95.9533C82.3958 96.2755 83.464 94.0598 85.194 93.049C87.0809 92.0882 87.333 91.3842 86.4371 88.7823C85.9302 87.3006 85.0319 86.2463 83.2115 86.8904L83.2142 86.9041L83.2187 86.9032ZM79.5309 132.447C79.9399 131.964 80.5748 131.983 81.0949 131.754C81.5458 131.656 81.9976 131.564 82.4439 131.467C84.3277 130.759 84.5602 129.223 84.1656 127.587C83.7682 125.937 82.1976 125.061 80.4788 125.3C79.6514 125.414 78.8274 125.57 77.9999 125.707C76.8983 124.218 76.3708 125.92 75.7124 126.219C72.9542 127.483 72.4751 128.459 73.4194 131.065C73.8105 132.147 74.5829 133.141 75.356 134.015C76.2136 134.982 77.3873 134.502 78.3775 134.177C79.0913 133.943 80.1451 133.676 79.5255 132.444L79.5309 132.447ZM35.7737 99.6034C35.8612 97.275 33.8433 97.9528 32.7834 97.7985C31.361 97.5867 30.4658 98.6438 30.4398 100.191C29.9558 101.776 30.103 103.385 30.3645 104.971C30.7334 107.182 31.9874 108.162 33.9923 107.905C35.8353 107.669 37.029 106.122 36.7678 104.099C36.5718 102.58 36.3538 101.047 35.7737 99.6034ZM62.0788 108.951C62.8722 109.783 63.5093 110.082 64.0282 108.652C64.5349 107.257 64.7773 105.943 64.445 104.432C64.0511 102.653 62.828 101.71 61.339 101.667C59.8308 101.624 57.8279 101.502 57.4261 103.825C56.9185 104.289 56.5762 104.944 56.303 105.491C55.585 106.922 54.4283 108.391 55.3129 110.155C56.0283 111.586 57.3583 112.371 58.8784 112.208C60.6728 112.015 61.6199 110.64 62.0743 108.952L62.0788 108.951ZM52.1619 80.6216C51.6807 78.2237 48.8337 76.9842 47.1029 78.503C46.143 79.3497 45.2882 80.3704 44.5757 81.4394C43.4333 83.1522 44.4928 85.9121 46.3553 86.3609C49.1777 87.0357 52.7394 83.5134 52.1574 80.6225L52.1619 80.6216ZM37.5674 136.496C38.331 136.347 38.9339 136.178 39.5491 136.12C41.1943 135.965 42.5966 135.27 42.9885 133.651C43.4382 131.793 41.9728 128.704 40.629 127.969C40.4276 127.861 40.243 127.693 40.0277 127.635C37.9363 127.108 34.9981 127.666 33.2193 128.914C31.0097 130.46 30.9237 133.575 32.541 135.69C34.1902 137.847 35.9505 136.626 37.5719 136.495L37.5674 136.496Z" fill="%23E32641"/><path d="M110.351 118.311C108.819 118.581 108.488 120.098 107.615 121.027C105.594 123.177 103.262 125.021 101.493 127.44C100.935 128.204 99.8873 128.673 99.0776 129.268C97.9689 130.082 97.0682 129.161 96.6087 128.068C94.4023 122.808 92.4594 117.486 92.3179 111.667C92.2046 106.966 92.8419 102.343 93.6252 97.7387C94.4068 93.1253 96.2657 88.8288 97.8282 84.4476C97.9292 84.1622 98.1589 83.9039 98.1887 83.6181C98.2826 82.7598 99.772 82.1707 98.9068 81.2618C98.3106 80.6376 97.2882 81.3825 96.4753 81.3272C91.6494 81.0142 86.8458 81.6934 81.9563 80.7616C77.2539 79.8644 72.5775 79.0524 68.0363 77.5211C63.1185 75.8591 58.2886 73.9664 53.6583 71.6361C48.2807 68.9294 43.1889 65.7161 38.1671 62.399C35.4832 59.9744 35.506 59.9937 37.7497 56.9417C42.4781 50.5154 49.3442 48.4615 56.7884 47.548C62.5688 46.8399 68.2756 47.4845 73.9634 48.4697C74.941 48.64 75.7648 49.4098 76.8304 49.1785C76.963 49.1527 77.0661 48.9997 77.1798 48.9016C71.2832 40.7763 69.8346 31.2912 68.8234 21.6639C68.5671 19.2269 68.2175 16.7986 67.8651 14.0386C72.3877 15.9864 76.0432 18.6726 79.4377 21.6754C83.0168 24.8464 86.1871 28.4528 89.1484 32.2045C91.2209 34.8288 93.0889 37.6211 94.9798 40.3852C97.5736 44.1751 99.8558 48.1682 101.971 52.2317C104.697 57.4768 107.663 62.618 109.53 68.2818C109.912 69.4413 110.593 70.4999 111.247 71.8344C118.228 60.3325 125.113 48.9918 132.156 37.3924C133.538 39.9045 134.78 42.14 135.237 44.7324C135.379 45.5353 135.244 46.1549 134.762 46.8752C130.171 53.7589 126.04 60.9374 121.626 67.9335C119.592 71.1584 117.129 74.2057 115.802 77.9192C122.105 78.533 128.281 79.7792 134.342 81.5365C139.774 83.1125 144.952 85.2792 149.665 88.4952C157.169 93.6164 160.358 100 159.47 108.968C159.114 112.573 158.547 112.707 155.225 111.195C147.626 107.734 139.985 104.372 132.37 100.947C127.335 98.6817 122.316 96.3797 116.838 93.8871C118.876 103.428 114.489 110.827 110.344 118.298L110.351 118.311Z" fill="%232DA06A"/><path d="M62.079 108.952C61.6201 110.641 60.6776 112.015 58.8832 112.208C57.363 112.371 56.0331 111.586 55.3177 110.155C54.433 108.391 55.5898 106.922 56.3078 105.491C56.5819 104.949 56.9232 104.289 57.4308 103.825C57.767 103.65 58.1577 103.536 58.4238 103.295C59.6207 102.202 60.8305 102.346 62.1967 103.001C63.5893 103.67 63.497 104.95 63.694 106.108C63.9229 107.454 62.5244 107.949 62.079 108.952V108.952Z" fill="%23F3CF59"/><path d="M85.1973 93.0441C83.4673 94.055 82.399 96.2706 79.9348 95.9484C77.249 95.0002 76.6564 91.6653 78.6608 89.8701C79.5098 89.1115 80.1842 88.1639 80.9377 87.3052L81.4437 87.1497C82.0343 87.0632 82.6259 86.9812 83.2165 86.8946L83.2138 86.8809C86.2258 89.0897 86.2888 89.291 85.1964 93.0395L85.1973 93.0441Z" fill="%23F3CF59"/><path d="M52.1618 80.623C52.7438 83.5138 49.1821 87.0361 46.3597 86.3613C44.4982 85.9171 43.4386 83.1572 44.5801 81.4398C45.2927 80.3709 46.1429 79.351 47.1074 78.5035C48.8335 76.9855 51.6805 78.225 52.1664 80.6221L52.1618 80.623Z" fill="%23F3CF59"/><path d="M35.7729 99.6042C36.3531 101.048 36.5701 102.577 36.7671 104.1C37.0282 106.123 35.8346 107.67 33.9915 107.905C31.9858 108.158 30.7326 107.183 30.3637 104.972C30.1022 103.385 29.9504 101.778 30.439 100.192C32.0894 98.8456 33.8632 98.5713 35.7738 99.6088L35.7729 99.6042Z" fill="%23F3CF59"/><path d="M82.4441 131.467C81.9931 131.564 81.5414 131.657 81.095 131.754C79.5909 130.732 77.8037 131.132 76.4642 132.784C76.3369 132.837 76.2081 132.834 76.0833 132.777C75.8361 131.971 75.1485 131.341 75.1613 130.432C75.1688 129.861 75.4207 129.01 75.9153 129.307C77.4674 130.234 78.9571 128.867 80.3997 129.402C80.9779 129.617 81.3456 129.897 81.6228 129.102C81.8341 128.506 81.6755 128.057 81.2528 127.641C80.7583 127.149 80.4689 127.467 80.169 127.876C79.8139 128.368 79.232 128.353 78.7143 128.473C77.8563 128.673 77.2822 128.187 77.1542 127.481C77.0191 126.738 77.821 126.786 78.3076 126.677C79.1345 126.488 79.9918 126.406 80.8061 126.176C81.7906 125.894 82.3824 126.301 82.9716 127.036C83.5908 127.803 83.7561 128.554 83.1775 129.336C82.6964 129.985 82.3897 130.652 82.4432 131.463L82.4441 131.467Z" fill="%23FBE558"/><path d="M82.444 131.467C82.3905 130.656 82.6972 129.989 83.1783 129.34C83.756 128.554 83.5917 127.807 82.9725 127.04C82.3832 126.306 81.7914 125.899 80.807 126.181C79.9927 126.411 79.1353 126.492 78.3085 126.682C77.8228 126.795 77.0199 126.743 77.1551 127.485C77.2831 128.191 77.8571 128.677 78.7151 128.477C79.2328 128.357 79.8147 128.372 80.1698 127.881C80.4688 127.466 80.7582 127.149 81.2537 127.646C81.6718 128.063 81.8303 128.511 81.6236 129.107C81.3464 129.901 80.9742 129.622 80.4006 129.407C78.9579 128.871 77.4728 130.238 75.9161 129.312C75.4215 129.014 75.1696 129.865 75.1622 130.436C75.1494 131.345 75.8323 131.976 76.0841 132.782C73.9648 131.818 73.3566 129.231 74.9467 127.697C75.8253 126.847 76.8103 126.105 78.0063 125.715C78.8338 125.578 79.6532 125.423 80.4852 125.309C82.204 125.069 83.7747 125.945 84.172 127.595C84.5666 129.231 84.3341 130.767 82.4503 131.475L82.444 131.467Z" fill="%23F3CF59"/><path d="M37.5711 136.491C35.9497 136.622 34.1893 137.842 32.5402 135.686C30.9228 133.571 31.0098 130.46 33.2185 128.91C34.9972 127.662 37.94 127.103 40.0268 127.631C40.2412 127.684 40.4258 127.852 40.6281 127.965C41.9711 128.695 43.4373 131.789 42.9876 133.647C42.5957 135.266 41.1944 135.966 39.5482 136.115C38.933 136.173 38.3347 136.342 37.5665 136.492L37.5711 136.491ZM34.7145 129.549C32.7205 130.544 31.7532 132.133 32.2234 133.645C32.7035 135.185 34.6248 136.106 36.6357 135.733C37.5428 135.566 38.4317 135.403 39.3774 135.385C41.34 135.349 42.5222 133.718 42.1921 131.78C41.6578 128.671 38.4218 127.578 35.1547 129.396C35.0074 129.444 34.8609 129.496 34.7136 129.544L34.7145 129.549Z" fill="%23D2412E"/><path d="M78.0001 125.708C76.8049 126.102 75.8191 126.84 74.9404 127.69C73.3549 129.223 73.9585 131.811 76.0778 132.774C76.2027 132.831 76.3315 132.834 76.4588 132.781C77.6014 133.75 78.5245 132.763 79.5256 132.445C80.1452 133.676 79.086 133.94 78.3776 134.177C77.3875 134.503 76.2138 134.983 75.3562 134.016C74.5785 133.142 73.8106 132.148 73.4196 131.066C72.4753 128.459 72.9544 127.483 75.7125 126.22C76.3746 125.915 76.8985 124.219 78.0001 125.708V125.708Z" fill="%23D2412E"/><path d="M62.0786 108.952C62.524 107.949 63.9179 107.455 63.6936 106.108C63.4966 104.95 63.5935 103.669 62.1963 103.001C60.8301 102.347 59.6203 102.203 58.4234 103.295C58.1536 103.542 57.762 103.651 57.4304 103.825C57.8267 101.498 59.8352 101.624 61.3433 101.668C62.8323 101.71 64.0509 102.654 64.4494 104.432C64.7862 105.943 64.5402 107.262 64.0325 108.652C63.5091 110.083 62.8765 109.784 62.0831 108.951L62.0786 108.952Z" fill="%23D2412E"/><path d="M80.9388 87.3105C80.1853 88.1692 79.5063 89.1177 78.662 89.8754C76.6567 91.666 77.2501 95.0056 79.936 95.9537C77.171 96.5729 76.9281 96.1788 76.7754 93.2993C76.6428 90.7907 77.6363 89.0928 79.4781 87.6567C79.9275 87.3082 80.3691 87.0656 80.9443 87.3142L80.9388 87.3105Z" fill="%23D2412E"/><path d="M85.198 93.0443C86.295 89.2949 86.2275 89.0944 83.2155 86.8856C85.0359 86.2416 85.9296 87.2967 86.441 88.7776C87.337 91.3795 87.0858 92.0881 85.198 93.0443Z" fill="%23D2412E"/><path d="M35.7737 99.604C33.8594 98.572 32.0902 98.8453 30.4389 100.187C30.465 98.6398 31.3611 97.5873 32.7825 97.7945C33.8433 97.9534 35.865 97.2701 35.7728 99.5994L35.7737 99.604Z" fill="%23D2412E"/><path d="M79.5309 132.448C78.5298 132.766 77.6021 133.754 76.4641 132.784C77.8036 131.133 79.5908 130.733 81.0949 131.754C80.5757 131.988 79.9399 131.965 79.5309 132.448V132.448Z" fill="%23F3CF59"/><path d="M83.2181 86.904C82.6275 86.9906 82.036 87.0725 81.4453 87.1591C81.9002 86.1071 82.4007 85.4116 83.2181 86.904Z" fill="%23D2412E"/><path d="M34.7097 129.551C34.8571 129.503 35.0035 129.451 35.1508 129.403C36.3046 129.795 37.4208 130.019 38.6932 129.705C40.5456 129.249 40.9811 130.584 41.3609 132.071C41.7936 133.781 40.8376 134.038 39.5694 134.228C38.4256 134.399 37.2961 134.643 36.1611 134.883C34.5057 135.229 33.7792 133.813 33.1534 132.891C32.6818 132.2 33.3204 130.946 34.3832 130.53C35.0093 130.285 35.0554 130.034 34.7106 129.555L34.7097 129.551Z" fill="%23FBE558"/><path d="M34.7101 129.55C35.0549 130.028 35.0089 130.279 34.3827 130.525C33.3199 130.94 32.6859 132.193 33.1529 132.886C33.7787 133.808 34.5006 135.224 36.1606 134.877C37.291 134.638 38.426 134.398 39.5689 134.223C40.8371 134.033 41.7977 133.774 41.3604 132.065C40.9806 130.578 40.5451 129.244 38.6927 129.699C37.4203 130.014 36.3041 129.79 35.1504 129.397C38.4166 127.575 41.6535 128.672 42.1878 131.781C42.5224 133.719 41.3357 135.35 39.373 135.386C38.4273 135.404 37.5385 135.567 36.6313 135.734C34.6204 136.107 32.6992 135.186 32.2191 133.647C31.7489 132.134 32.7162 130.545 34.7101 129.55V129.55Z" fill="%23F3CF59"/></svg>');
        background-position: right;
        width: 80px;
        height: 100px;
        right: 0;
        top: 40.25%;
        transform: translate(0, -50%);
  
        @media (min-width: 768px) {
          width: 100px;
          height: 180px;
          top: 43.5%;
        }
  
        @media (min-width: 992px) {
          top: 45%;
        }
      }
  
      .image_col img {
        max-width: 166px;
  
        @media (min-width: 768px) {
          max-width: 230px;
        }
      }
    }
  }
  }
  
  .have_fun_container{
    background: #D1FFD9;
    position: relative;
    z-index: 1;
    @media (max-width: 520px) {
        overflow: hidden;
    }
    .inner_have_fun{
      padding: 43px 104px 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 520px) {
        padding: 32px 40px;
      }
      p{
        font-family: "CocoSharp XL";
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #095933;
        margin-bottom: 8px;
        max-width: 366px;
        @media (max-width: 520px) {
  
        }
      }
      h3{
        font-family: 'cocosharp_xlextrabold_italic';
        font-style: italic;
        font-weight: 800;
        font-size: 42px;
        line-height: 140%;      
        text-align: center;      
        color: #095933;
        max-width: 459px;
        @media (max-width: 520px) {
          font-weight: 800;
          font-size: 24px;
          line-height: 140%;
        }  
      }
    }
    .have_fun_svg1{
      position: absolute;
      top: 0px;
      left: 153px;
      @media (max-width: 520px) {
        display: none;
      }
    }
    .have_fun_svg2{
      position: absolute;
      top: 0px;
      right: 0;
      @media (max-width: 520px) {
        display: none;
        svg{
          transform: translate(44%,50%) rotate(45deg);
          width: 59px;
        }
      }
      &.mobileOnly{
        display: none;
        @media (max-width: 520px) {
          display: block;
        }
      }
    }
    .have_fun_svg3{
      position: absolute;
      bottom: -7px;
      left: 0;
      @media (max-width: 520px) {
        svg{
          transform: translate(-44%, 53%) rotate(23deg);
          width: 94px;
        }
      }
    }
    .have_fun_svg4{
      position: absolute;
      bottom: -7px;
      right: 257px;
      @media (max-width: 520px) {
        display: none;
      }
    }
  }
  
  // plix transformation section end
  
  .faq_section{
    padding: 32px 7vw !important;
    @media (max-width: 520px) {
      padding: 32px 20px 33px !important;
    }
    div{
      &:nth-child(2){
        padding: 0;
      }
    }
    .items_center{
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 992px) {
          align-items: flex-start;
      }
      svg{
        @media (max-width: 992px) {
          width: 37.5px;
          height: 54.66px;
        }  
      }
      .df{
        display: inline-block;
        width: unset;
      }
      & > div{
        width: max-content;
      }
      h3{
        font-family: 'cocosharp_xlextrabold_italic';
        font-style: italic;
        font-weight: 800 !important;
        font-size: 56px !important;
        line-height: 120%;  
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: #06543D !important;
        @media (max-width: 992px) {
          font-size: 32px !important;
          line-height: 120%;
          padding-left: 0px !important;
        }
      }
    }
    div{
      &:nth-of-type(2){
        button{
          p{
            font-family: "CocoSharp XL";
            font-weight: 400 !important;
            font-size: 22px !important;
            line-height: 150% !important;
            /* identical to box height, or 33px */
    
            letter-spacing: 0.02em !important;
    
            color: rgba(0, 0, 0, 0.8);
            opacity: 0.8 !important;
            @media (max-width: 520px) {
              font-size: 16px !important;
              line-height: 140% !important;
            }
          }
          div{
            @media (max-width: 520px) {
              margin: 0px 0px 0px 10px;
            }
            svg{
              @media (max-width: 520px) {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
        p{
          font-family: "CocoSharp XL";
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          /* or 26px */
    
          letter-spacing: 0.02em;
    
          color: #000000;
    
          opacity: 0.6;
          @media (max-width: 520px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 160%;          
            color: #000000;
            opacity: 0.6;
            padding-bottom: 27px;
          }
        }
      }
    }
  }