.wow_new_product_card {
  &__buttonContainer {
    // width: fit-content !important;
    @media (max-width: $large-screen) {
      width: 200px !important;
    }
    @media (max-width: $small-screen) {
      padding-inline: 2px !important;
      width: 150px !important;
    }
  }
  &__descriptionText {
    @media (max-width: $small-screen) {
      color: #686b78 !important;
      font-size: 14px !important;
    }
  }
}
