@import "Themes/globalStyles-scss/scss/variables.module.scss";
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    p{
        margin-left: 4px;
        font-size: 14px;
        color: black;
    }
    svg{
        margin-bottom: 4px;
    }
}
  