// .slider-list {
//   height: 100% !important;
// }
// .slider-list li {
//   height: 100% !important;
// }
.testimonial-cerousel {
  //   width: 50% !important;
  align-self: center;

  //   @media (max-width: 720px) {
  //     width: 100%;
  //   }
}
.slider-control-bottomcenter ul {
  gap: 10px !important;
  top: 12px !important;
  li {
    button {
      fill: #56774d !important;
    }
  }
}

// .testimonial-slide-container {
//   width: 50% !important;
// }
