@import "Themes/globalStyles-scss/scss/variables.module.scss";

// .continueShopping {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 80%;
//   margin: auto;
//   min-height: 200px;

//   @media (min-width: $medium-screen) {
//     width: 20%;
//   }
// }
.container {
  display: flex;
  gap: 2rem;
  background-color: rgb(245, 245, 245);

  @media (min-width: $medium-screen) {
    padding: 2rem 5rem 2rem;
    margin: auto;
  }
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  padding-bottom: 0.5rem;
  width: 100%;

  @media (min-width: $large-screen) {
    gap: 0.5rem;
  }
}

.inputContainer {
  &__input {
  }
  &__label {
  }
}

.radioContainer {
  background-color: white;
  padding: 1rem;

  @media (min-width: $large-screen) {
    box-shadow: rgb(112 112 112 / 25%) 0px 1px 6px 0px;
  }
}

.radioInputContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 8px;
  align-items: flex-start;
  padding: 1rem 0;
  cursor: pointer;

  &__input {
    width: unset;
    cursor: pointer;
  }
  &__label {
    cursor: pointer;
  }
}

.checkboxContainer {
  background-color: white;
  padding: 1rem;
  margin-bottom: 3rem;
  @media (min-width: $large-screen) {
    box-shadow: rgb(112 112 112 / 25%) 0px 1px 6px 0px;
    margin-bottom: 0;
  }
}

.formContainer {
  // position: relative;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formFieldsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;

  @media (min-width: $large-screen) {
    box-shadow: rgb(112 112 112 / 25%) 0px 1px 6px 0px;
  }
}
.row {
  display: flex;
  width: 100%;
  gap: 16px;
}

.inputErroDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;
}
.errorMessage {
  font-size: 12px;
  color: red;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  margin-top: -55px;
  margin-left: -20px;
}

.addressContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 10px;
  background-color: white;
}
.addressDropdownContainer {
  width: 100%;
  padding: 20px;
  color: rgb(52, 94, 46);
  display: flex;
  box-shadow: rgb(40 44 63 / 10%) 0px 0.5px 2.5px 2px;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.selectContainer {
  flex: 1 1 0%;
}

.radioLabelContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stickyButtonContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  background-color: white;
  box-shadow: rgb(0, 0, 0, 25%) -1px -1px 4px 0px;

  @media (min-width: $large-screen) {
    display: none;
  }
}

.stickyButtonContainerElement {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.placeOrderButton {
  &__input {
    background: $checkout-btn-color;
    padding: 12px;
    height: 100%;
    color: white;
    cursor: pointer;
  }
}

.orderSummaryContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  padding-bottom: 0;

  @media (min-width: $large-screen) {
    box-shadow: rgb(112 112 112 / 25%) 0px 1px 6px 0px;
  }
}

.orderSummaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.orderSummaryProductList {
  display: flex;
  flex-direction: column;
  min-height: 140px;
}

.orderSummaryProduct {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
}

.orderSummaryProductImage {
  display: flex;
  min-height: 110px;
}

.orderSummaryProductContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.6rem;
}

.orderSummaryProductContentName {
  font-size: 0.8rem;
}

.orderSummaryProductContentPriceContainer {
  display: flex;
  font-size: 14px;
  gap: 12px;
}

.desktopOrderSummary {
  display: block;
  width: 80%;

  @media (max-width: $large-screen) {
    display: none;
  }
}
.mobileOrderSummary {
  display: block;
  @media (min-width: $large-screen) {
    display: none;
  }
}

.quantity {
  font-size: 14px;
  color: #616161;
}

.undiscounted {
  text-decoration: line-through;
  color: #e82626;
  font-size: 12px;
}

.discounted {
  font-size: 1rem;
  font-weight: 600;
}

.discount {
  font-size: 14px;
  color: #797777;
}

.hr {
  border: none;
  border-bottom: 2px dashed rgb(229, 229, 229);
  width: 100%;
}

.whatsappCheckboxLabel {
  display: flex;
  gap: 8px;
  align-items: center;
}

.whatsappInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    width: 20%;
  }
}

.checkoutLoginContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;

  @media (max-width: $large-screen) {
    margin-top: 0.5rem;
    box-shadow: rgb(112 112 112 / 25%) 0px 1px 6px 0px;
  }

  @media (min-width: $large-screen) {
    box-shadow: rgb(112 112 112 / 25%) 0px 1px 6px 0px;
  }
}

.checkoutLoginContainerText {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.userIconDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  &__input {
    background: $checkout-btn-color;
    height: 100%;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}

.paymentSummaryContainerWrapper {
  padding: 1rem;
  background-color: white;
  margin-top: 0.5rem;
}

.paymentSummaryContainer {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.paymentSummaryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 2px dashed #e5e5e5;
  padding-bottom: 1rem;
}
.paymentSummaryHeaderText {
  // margin-bottom: 1rem;
}

.paymentSummaryRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.paymentSummaryRowBold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
}

.paymentSummaryPlaceOrderButton {
  margin-top: 1rem;
}

.applyCouponCode {
  display: flex;
  padding: 1rem 0;
  width: 100%;
}

.applyCouponCodeInput {
  &__input {
    border-radius: 4px 0 0 4px;
  }
}
.applyCouponCodeButton {
  width: 50%;
  &__input {
    background: $checkout-btn-color;
    padding: 10px;
    height: 100%;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
  }
}

.applyCouponCodeContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0 1rem;
  margin-top: 0.5rem;
}

.couponCodeResultMessage {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.hr {
  margin-bottom: 1rem;
}

.showMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
}

.showMoreContainerText {
  margin-right: 8px;
}

.applyCouponCodeButton {
  width: 50%;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  padding: 0;
}
