.Wrapper {
  /* margin: 4px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 20px;
  /* padding: 4px; */
}

.SubHeader {
  font-family: "CocoSharp XL" !important;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  &.__textGray {
    color: #808080;
  }
}
