@import "Themes/globalStyles-scss/scss/variables.module.scss";

.quizpage_padding {
  padding: 0 80px;
  max-width: 1500px;
  margin: auto;

  @media (max-width: 1350px) {
    padding: 0 80px;
  }

  @media (max-width: $xlarge-screen) {
    padding: 0 50px;
  }

  @media (max-width: $large-screen) {
    padding: 0 68px;
  }

  @media (max-width: $small-screen) {
    padding: 0 20px;
  }
}

.quizpage {
  padding: 0 80px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: inherit;
  //   background-color: #effbf2;
  overflow: hidden;
  // position: relative;
  margin: auto;

  @media (max-width: 1350px) {
    padding: 0 80px;
  }

  @media (max-width: $xlarge-screen) {
    padding: 0 50px;
  }

  @media (max-width: $large-screen) {
    padding: 0 68px;
    // flex-direction: column-reverse;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: $small-screen) {
    padding: 0 20px;
    background: #fff;
  }

  .skinQuizHeader {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(44px + 1.6rem);
    width: 100%;
    padding: 0 4rem;

    @media (max-width: $medium-screen) {
      padding: 0 1rem;
      height: calc(34px + 1.6rem);
    }

    svg {
      cursor: pointer;
    }

    &_back,
    &_close {
      padding: 0.5rem;
    }
  }

  &_form {
    // margin: auto;
    width: 100%;
    margin: 2rem 0 2rem;

    @media (min-width: $medium-screen) {
      width: 430px;
      margin-top: 3.3rem !important;
      margin-bottom: 0 !important;
    }

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 38vh;
      justify-content: space-between;

      @media (min-width: $medium-screen) {
        min-height: 45vh;
      }
    }

    &_inputslider {
      @media (min-width: $medium-screen) {
        width: 100%;
      }
    }

    &_input {
      margin: 0.5rem 0 !important;

      @media (min-width: $medium-screen) {
        align-items: center;
      }

      label {
        color: #06543d;
        font-family: "CocoSharp XL";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

        @media (min-width: $medium-screen) {
          font-size: 18px !important;
          line-height: 27px !important;
        }
      }

      .label {
        @media (min-width: $medium-screen) {
          font-size: 26px !important;
          line-height: 45px !important;
          text-align: center;
          font-weight: 700;
          margin-bottom: 1rem;
          width: max-content;
        }
      }

      .errormessage {
        color: red;
        font-family: "CocoSharp XL";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
      }

      .caution {
        font-family: "CocoSharp XL";
        font-size: 8.8px;
        line-height: 13.2px;
        font-weight: 400;
        color: #cccccc;
        margin: 0.2rem 0 1.4rem 0;

        @media (min-width: $medium-screen) {
          font-size: 13px;
          line-height: 19.5px;
          margin: 0.1rem 0 1.4rem 0;
          min-width: 500px;
        }
      }

      .input {
        font-family: "CocoSharp XL";
        width: 92%;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin: 0.5rem 0 1.5rem 0;
        outline: none;
        border: none;
        -webkit-appearance: none;

        @media (min-width: $medium-screen) {
          font-size: 30px;
          text-align: center;
        }

        &_margin {
          margin-bottom: 0;
          @media (min-width: $medium-screen) {
            margin-top: 2rem;
          }
        }

        &::placeholder {
          color: #cccccc;
          // opacity: 0.5;
        }
      }
    }

    &_submitButton {
      color: #fff;
      font-family: "cocosharp_xlextrabold";
      padding: 0.4rem 0;
      font-size: 24px;
      font-style: normal;
      font-weight: 800;
      line-height: 150%;
      /* 36px */
      letter-spacing: 1.68px;
      text-transform: uppercase;
      border-radius: 8px;
      background: #5dd37c;

      @media (min-width: $medium-screen) {
        width: 340px;
        margin: 0 auto;
      }
    }

    &_inputcard {
      display: flex;
      flex-wrap: wrap;
      row-gap: 1rem;

      div {
        >div {
          height: 143px !important;
          width: 143px !important;

          @media (max-width: 370px) {
            height: 138px !important;
            width: 138px !important;

            @media (max-width: 360px) {
              height: 130px !important;
              width: 130px !important;
            }
          }
        }
      }

      &_flex{
        display: flex !important;
        justify-content: center !important;
        gap: 3rem !important;

        @media(max-width: 360px){
          gap: 2rem !important ;
        }
      }

      &_primary {
        display: grid;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 1rem;

        div {
          padding: 0.3rem;
          width: fit-content;

          >div {
            height: 96px !important;
            width: 96px !important;
          }

          h3 {
            max-width: 100px;
          }

          p {
            font-size: 12px;
            max-width: 96px;
            text-align: start;
            max-width: 100px !important;
            // margin-left: 0.3rem;
          }

          @media (min-width: $medium-screen) {
            border-radius: 6px;

            p {
              font-size: 12.72px;
              line-height: 19.08px;
            }

            >div {
              height: 102px !important;
              width: 102px !important;
            }
          }
        }

        @media (min-width: $medium-screen) {
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 375px) {
          display: grid;

          div {
            >div {
              height: 90px !important;
              width: 90px !important;
            }

            h3 {
              max-width: 100px;
            }

            p {
              max-width: 90px !important;
            }
          }

          @media (max-width: 365px) {
            display: flex;
          }
        }
        @media (max-width: 365px) {
          justify-content: center;
          > div {
            margin: 0 0.8rem;
          }
        }
      }
    }

    &_inputslider {
      input {
        height: 17px;

        &::-webkit-slider-thumb {
          width: 11px !important;
          height: 30px !important;
        }

        &::-moz-range-thumb {
          width: 11px;
          height: 30px;
        }

        &::-ms-thumb {
          width: 11px;
          height: 30px;
        }
      }

      >div {
        span {
          font-weight: 400;
          font-size: 10px;
          line-height: 15px;
        }
      }

      @media (min-width: $medium-screen) {
        >div {
          span {
            font-size: 15px;
            line-height: 23px;
          }
        }

        input {
          height: 24px;
        }
      }
    }
  }

  &_header {
    position: relative;
    font-size: 12px;
    line-height: 18px;
    font-family: "CocoSharp XL";
    font-weight: 700;
    color: #06543d;
    background: #fff5af;
    padding: 0.2rem 0;
    width: 100vw;
    // top: -20px;
    text-align: center;

    @media (min-width: $medium-screen) {
      font-size: 16px;
      line-height: 24px;
      padding: 0.4rem 0;
    }
  }

  &_cards {
    margin: 1rem 0;
    width: 100%;

    @media (min-width: $medium-screen) {
      margin: 1.4rem 0;

      div {
        min-width: 260px;
        display: grid;
        grid-auto-flow: column;
        gap: 0.8rem;
      }
    }

    @media (max-width: $medium-screen) {
      div {
        min-width: 80px;
        display: grid;
        grid-auto-flow: column;
        gap: 0.5rem;

        >div {
          font-size: 12px;
        }
      }
    }
  }

  &_results {
    // margin: 1.6rem 0;

    @media (min-width: $medium-screen) {
      margin: 0 0 2.8rem;
    }

    &_concern {
      @media (min-width: $medium-screen) {
        display: flex;
        justify-content: start;
        gap: 2rem;
        padding: 1.5rem 0 2rem;
        align-items: center;

        >div {
          max-width: 700px;
        }
      }

      h2 {
        font-family: "cocosharp_xlextrabold";
        font-weight: 800;
        font-style: italic;
        font-size: 30px;
        line-height: 36px;
        color: #06543d;

        @media (min-width: $medium-screen) {
          font-size: 48px;
        }
      }

      &_title {
        font-family: "CocoSharp XL";
        font-weight: 700;
        font-size: 18px;
        line-height: 24.12px;
        color: #06543d;
        margin-top: 0.2rem;

        &_icon {
          position: relative;
          display: inline-block;
          height: 24px;
          width: 24px;
          margin-right: 0.2rem;
        }

        @media (min-width: $medium-screen) {
          margin-top: 1.2rem;
          font-size: 26.7px;
          line-height: 35.54px;

          &_icon {
            margin-right: 0.4rem;
            height: 35px;
            width: 35px;
          }
        }
      }

      &_box {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin: 0.7rem 0;

        @media (min-width: $medium-screen) {
          grid-template-columns: 1fr;
          margin: 1rem 0;
        }

        &_first {
          display: grid;
          grid-template-columns: 1fr 1fr;
          place-items: center;
          align-items: center;
          background-color: #fef9d9;
          // padding: 1rem;
          margin: 1rem 0;
          border-radius: 8px;

          // .quizpage_results_concern_box_heading {
          //   max-width: 160px;
          // }

          .quizpage_results_concern_box_card {
            height: 75%;
          }

          @media (min-width: $medium-screen) {
            gap: 1rem;
            grid-template-columns: 1fr;
            place-items: start;
            margin: 7rem 0 1rem;

            .quizpage_results_concern_box_card {
              border: 2.8px solid#D9D9D9;
              border-radius: 19.58px;
              padding: 0.7rem;
              height: 85%;
            }

            p {
              font-size: 28px;
              line-height: 43px;
            }

            // .quizpage_results_concern_box_heading {
            //   max-width: 240px;
            // }
          }
        }

        &_second {
          background-color: #fff08d;
          border-radius: 8px;
          padding: 1rem;

          @media (max-width: $medium-screen) {
            padding: 1rem 0.4rem;
          }

          &_card {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 0.5rem;

            @media (max-width: 450px) {
              grid-template-columns: 1fr 1fr 1fr 1fr;
              gap: 0.2rem;
            }

            @media (min-width: $medium-screen) {
              grid-template-columns: 1fr 1fr;
              place-items: center;
              gap: 0.8rem;
              margin-top: 1rem;
            }

            .quizpage_results_concern_box_card {
              @media (min-width: $medium-screen) {
                p {
                  min-height: 46px;
                }
              }
            }
          }
        }

        &_heading {
          font-family: "CocoSharp XL";
          font-weight: 700;
          font-size: 15px;
          line-height: 19.52px;
          color: #06543d;
          margin-bottom: 0.5rem;

          p {
            font-size: 17px;
            line-height: 26px;
          }

          svg {
            width: 17px;
            height: 17px;

            @media (min-width: $medium-screen) {
              width: 29px;
              height: 29px;
            }
          }

          @media (min-width: $medium-screen) {
            font-size: 31px;
            line-height: 38px;
          }

          @media (max-width: 370px) {
            font-size: 14px;
          }
        }

        &_card {
          width: fit-content;
          border: 1.2px solid#D9D9D9;
          border-radius: 9.58px;
          background-color: white;
          padding: 0.3rem;

          &_firstImage {
            >div {
              width: 117px !important;
              height: 117px !important;
              border-radius: 6.6px !important;

              @media (min-width: $medium-screen) {
                width: 243px !important;
                height: 243px !important;
                border-radius: 13px !important;
              }
            }

            p {
              font-size: 14.66px !important;
              max-width: 110px !important;
              margin: 0.5rem 0 0.3rem 0.3rem;
              line-height: 20px !important;

              @media (min-width: $medium-screen) {
                font-size: 30.33px !important;
                padding: 0.7rem 0 0 !important;
                max-width: 243px !important;
                margin: unset !important;
                line-height: 45px !important;
              }
            }
          }

          @media (min-width: $medium-screen) {
            padding: 0.4rem;
            border: 1.27px solid#D9D9D9;
            border-radius: 10px;
          }

          &_container {
            &_image {
              &_mob {
                position: relative;
                width: 160px !important;
                height: 160px !important;

                img {
                  border-radius: 8px;
                }

                @media (min-width: $medium-screen) {
                  display: none;
                }
              }

              &_desk {
                position: relative;
                width: 280px;
                height: 280px;

                img {
                  border-radius: 8px;
                }

                @media (max-width: $medium-screen) {
                  display: none;
                }
              }
            }

            p {
              margin-top: 0.4rem;
              font-family: "CocoSharp XL";
              font-weight: 400;
              font-size: 8.66px;
              line-height: 12.52px;
              max-width: 70px;
            }

            @media (max-width: 370px) {
              &_image {
                width: 62px;
                height: 62px;
              }
            }

            @media (min-width: $medium-screen) {
              &_image {
                height: 125px;
                width: 125px;
              }

              p {
                font-size: 15.57px;
                line-height: 23px;
                max-width: 125px;
              }
            }
          }
        }
      }
    }

    &_products {
      margin-top: 1.5rem;
      padding-top: 2rem !important;
      padding-bottom: 2rem !important;
      background-color: #fff5b6;
    }
  }

  &_hairconcern {
    background-color: #fef9d9;
    padding-top: 1.3rem;
  }

  &_bannerContainer {
    @media (min-width: $medium-screen) {
      display: flex;
      justify-content: space-between;
    }

    &_desk {
      background-color: #feffed;
      overflow: hidden;

      @media (max-width: $medium-screen) {
        display: none;
      }
    }

    &_mob {
      @media (min-width: $medium-screen) {
        display: none;
      }
    }

    &_new {
      @media (min-width: $medium-screen) {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 0 0.5rem 0;
      }
    }

    &_headings {
      @media (min-width: $medium-screen) {
        margin-top: 1rem;
      }

      h2 {
        color: #06543d;
        font-family: "cocosharp_xlextrabold";
        font-size: 24px;
        font-style: italic;
        font-weight: 800;
        line-height: 110%;
        margin-bottom: 0.5rem;

        @media (min-width: $medium-screen) {
          font-size: 36px;
          line-height: 150%;
        }
      }

      h3 {
        color: #06543d;
        font-family: "CocoSharp XL";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        margin-bottom: 0.5rem;
        // max-width: 490px;

        @media (min-width: $medium-screen) {
          font-size: 28px;
          // margin-bottom: 1.5rem;
          max-width: 430px;

          @media (min-width: $large-screen) {
            font-size: 32px;
          }
        }
      }

      div {
        color: #fff;
        font-family: "CocoSharp XL";
        font-size: 17.292px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
        border-radius: 8px;
        background: #06543d;
        padding: 0.5rem 0;
        text-align: center;
        max-width: 260px;

        @media (min-width: $medium-screen) {
          font-size: 26px;
          max-width: fit-content;
          border-radius: 14px;
          padding: 0.5rem 1.3rem;
        }
      }

      p {
        font-family: "CocoSharp XL";
        font-size: 15px;
        line-height: 23.4px;
        margin-top: 1rem;
        color: #06543d;

        @media (min-width: $medium-screen) {
          font-size: 22px;
          line-height: 34.56px;
          margin-top: 2rem;
          max-width: 620px;
        }
      }

      @media (min-width: $medium-screen) {
        h3 {
          font-size: 24px;
        }

        max-width: 80%;
      }
    }

    &_image {
      position: relative;
      height: 637px;
      aspect-ratio: 1 / 1;

      @media (max-width: $medium-screen) {
        display: none;
      }
    }
  }

  &_recommend {
    margin: 20px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff5b6;

    @media (min-width: $medium-screen) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &_retake {
    color: #fff;
    font-family: "CocoSharp XL";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 2.242px;
    text-transform: uppercase;
    border-radius: 10.675px;
    text-align: center;
    max-width: 400px;
    padding: 0.3rem 0;
    margin: 2.5rem auto 0 auto;
    background: #5dd37c;
    cursor: pointer;

    @media (max-width: $medium-screen) {
      margin: 3.3rem auto 1.5rem auto;
      font-size: 24px;
      max-width: 100%;
    }
  }

  .picture {
    &_label {
      // max-width: 240px;
    }

    &_container {
      margin-top: 1rem;
      background: #f1f1f1;
      border-radius: 15px;
      min-height: 431px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1rem;

      &_new {
        background-color: transparent;
        padding: 0;
      }

      &_bg {
        position: relative;
        height: 431px;
        width: 100%;

        img {
          border-radius: 15px;
        }
      }

      p {
        font-family: "CocoSharp XL";
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #767676;
        max-width: 270px;
      }

      &_image {
        position: relative;
        // width: 346px;
        height: 327px;
      }
    }

    &_button {
      margin-top: 10px;
      margin-bottom: 20px;

      &::-webkit-file-upload-button {
        display: none;
      }

      &::file-selector-button {
        display: none;
      }
    }

    @media (min-width: $medium-screen) {
      &_container {
        width: 100%;
        align-items: center;
        min-height: fit-content;

        p {
          max-width: 100%;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 1px;
        }

        &_image {
          height: 252px;
          width: 266px;
        }
      }
    }
  }

  &_revisit {
    margin-top: 30px;

    @media (min-width: $medium-screen) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: inherit;
      margin-top: 80px;
    }

    h1 {
      font-family: "cocosharp_xlextrabold";
      font-size: 38px;
      font-weight: 800;
      line-height: 59px;
      font-style: italic;
      color: #06543d;

      @media (min-width: $medium-screen) {
        font-size: 60px;
        line-height: 91px;
      }
    }

    p {
      // font-family: 'cocosharp_xlextrabold';
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      max-width: 270px;

      @media (min-width: $medium-screen) {
        font-size: 25px;
        line-height: 38px;
        max-width: 100%;
        color: #06543d;
      }
    }

    .resumeButton {
      margin-top: 80px !important;

      @media (min-width: $medium-screen) {
        margin-top: 60px !important;
      }
    }

    .resumeButton,
    .restartButton {
      // width: calc(100% - 40px);
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 8px;
      background-color: #5dd37c;
      font-family: "cocosharp_xlextrabold";
      font-size: 16px;
      font-weight: 800;
      line-height: 24px;
      letter-spacing: 2px;
      color: white;

      @media (min-width: $medium-screen) {
        max-width: 440px;
        font-size: 20px;
        line-height: 31px;
        margin-top: 18px;
        border-radius: 10.45px;
      }
    }
  }
}

.rootcause {
  padding: 0 0 1rem;

  @media (min-width: $medium-screen) {
    padding: 1rem 0 0;
  }
  .rootcause_container_new{
    width: 100%;
    justify-content: start;
    >div{
      margin: 0 0 1.5rem;
      width: calc(25% - 0.8rem);
      @media (max-width: $medium-screen) {
        margin: 0 0 1rem;
      }
    }

  }
  h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: #06543d;
    padding: 1rem 0;

    svg {
      width: 17px;
      height: 17px;
    }

    @media (min-width: $medium-screen) {
      font-size: 31px;
      line-height: 38px;

      svg {
        width: 33px;
        height: 33px;
      }
    }
  }

  &_learnmore {
    text-align: center;
    color: #06543d;
    font-size: 12px;
    line-height: 14px;
    margin-top: 1.5rem;
    text-decoration: underline;
    cursor: pointer;

    @media (min-width: $medium-screen) {
      font-size: 18px;
      line-height: 22px;
      margin-top: 2rem;
    }
  }

  &_container {
    display: flex;
    align-items: start;
    column-gap: 1rem;
    margin-top: 0.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
  
    @media (min-width: $medium-screen) {
      margin-top: 0.8rem;
    }

    &_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      

      &_image {
        position: relative;
        width: 71px;
        height: 71px;

        &_default {
          height: 71px;
          width: 71px;
          background-color: #d9d9d9;
          border-radius: 50%;
        }

        @media (max-width: $small-screen) {
          width: 60px;
          height: 60px;
        }

        @media (min-width: $medium-screen) {
          width: 126px;
          height: 126px;

          &_default {
            height: 126px;
            width: 126px;
          }
        }
      }

      p {
        font-size: 14px;
        line-height: 17px;
        color: #06543d;
        text-align: center;
        margin-top: 0.8rem;

        @media (min-width: $medium-screen) {
          font-size: 24px;
          line-height: 30px;
        }
      }
    }
  }

  &_modal {
    @media (max-width: $small-screen) {
      align-items: center;
    }

    >div:nth-child(1) {
      min-height: fit-content;
      height: fit-content;
      max-width: 340px;
      margin: auto;
      border-radius: 10px;
      padding: 1rem 0.8rem;

      @media (min-width: $small-screen) {
        min-width: 340px;

        @media (min-width: $medium-screen) {
          max-width: 660px;
          padding: 2rem 1.5rem 1.5rem;
          border-radius: 19px;
        }
      }
    }
  }

  &_popup {
    position: relative;

    &_close {
      position: absolute;
      right: -1.5rem;
      top: -1.8rem;
      cursor: pointer;

      svg {
        circle {
          fill: #d9d9d9;
          opacity: 1;
        }

        path {
          fill: #8e8e8e;
        }
      }

      @media(min-width: $medium-screen) {
        top: -2.5rem;
        right: -2.3rem;
      }
    }

    &_nav {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #06543d;
      align-items: stretch;
      overflow-x: auto;
      position: relative;
      li {
        width: 100%;
        min-width: 80px;
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        cursor: pointer;
        padding-bottom: 0.4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          text-align: center;
        }
      }
      &_selected {
        border-bottom: 2px solid #06543d;
      }
    }

    &_container {
      &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.5rem 0;

        &_image {
          margin: 0.5rem 0 1rem;
          position: relative;
          width: 103px;
          height: 103px;
        }

        &_description {
          font-size: 12px;
          font-weight: 400;
          line-height: 19px;
        }

        @media(min-width: $medium-screen) {
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          padding: 1.5rem 0.5rem 0.5rem;

          &_image {
            position: relative;
          }

          &_description {
            max-width: 300px;
          }
        }
      }
    }
  }
}

.inputContainer{
  position: relative;
  width: 100%;
  border-bottom: 1px solid #767676;
  margin-bottom: 0.5rem;

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  &_svg{
    position: absolute;
    padding: 0.5rem;
    padding-right: 0.2rem;
    right: 0;
    top: 0;

    @media(min-width: $medium-screen){
      top: 2.4rem;
      right: 0;
      cursor: pointer;
      svg{
        width: 18px;
        height: 15px;
      }
    }
  }
}