@font-face {
  font-display: swap;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("../../../../fonts/wow/CircularStdBook.TTF");
  font-family: "CircularStdBook";
}

@font-face {
  font-display: swap;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("../../../../fonts/wow/CircularStdBold.TTF");
  font-family: "CircularStdBold";
}

@font-face {
  font-display: swap;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url("../../../../fonts/wow/CircularStdBlack.TTF");
  font-family: "CircularStdBlack";
}
