.ButtonContainer {
  width: 100%;
  text-align: center;

  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 18px;
    align-items: center;
    gap: 4px;

    > *:not(:last-child) {
      margin-right: 5px;
    }
    div {
      display: flex;
      align-items: center;
    }
    svg {
    }
  }
}

.Span {
  display: flex;
  align-items: center;
}

.Button {
  font-weight: 700 !important;
  font-size: 1rem !important;
  margin-right: 5px;
  white-space: nowrap;
}
