.ratingFaqHeader {
  display: flex;
  margin-top: 24px;
  margin-bottom: 35px;
  *:not(:last-child) {
    margin-right: 2rem;
  }
  .activeReview {
    color: green;
  }
  p {
    font-size: 24px;
    font-weight: 600;
    color: #c4c4c4;
    cursor: pointer;
  }
}
