.ourBestSellerHeader {
  &__left {
    span {
      color: #686b78;
    }
    h3 {
    }
  }

  &__right {
    &__filter {
      @media (min-width: 720px) {
        margin-right: 10px;
        padding-right: 20px;
        border-right: 1px solid #e5e5e5;
      }

      &__child {
      }
    }
    &__button {
      a {
        span {
          color: #000000;
          font-size: 12px;
        }
        svg {
          path {
            stroke: #000000;
          }
        }
      }
      &__svgRight {
      }
    }
    @media (max-width: 720px) {
      &__button {
        display: none !important;
      }
    }
  }
}

.ourBestSellerHeaderBottomButton {
  a {
    justify-content: center;
  }
}
