@import "Themes/globalStyles-scss/scss/variables.module.scss";

.carousel-container.homebanner {
  li.slide {
    height: fit-content;
    // min-height: 360px;

    // @media (max-width: $medium-screen) {
    //   min-height: 300px;
    // }
    img{
      background-color: white;
      @media (max-width: $large-screen) {
        object-fit: fill !important;
      }
      @media (min-width: 769px) and (max-width: 992px){
        object-fit: fill !important;
        object-position: left;
        position: relative !important;
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .carousel .control-next.control-arrow {
    right: 25px;
  }
  .carousel .control-prev.control-arrow {
    left: 25px;
  }
  .carousel .control-next.control-arrow:before &.control-arrow {
    &:before {
      margin: 0 5px;
      display: inline-block;
      border-top: 8px solid #e95f5f;
      border-bottom: 8px solid #e95f5f;
      content: "";
    }
  }

  .carousel .control-arrow,
  .carousel.carousel-slider .control-arrow {
    opacity: 1;
  }

  .carousel .control-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px !important;

    .dot {
      margin: 0 3px;
      width: 6px;
      height: 6px;
      opacity: 0.9;
      box-shadow: none;
      background: lightgrey;
    }

    .dot.selected,
    .dot:hover {
      width: 9px;
      height: 9px;
      background: $cerousel-dots-color;
    }
  }

  .carousel .control-dots {
    @media (min-width: $large-screen) {
      margin-left: $cerousel-dots-left;
      margin-right: $cerousel-dots-right;
      bottom: $cerousel-dots-bottom;
      justify-content: $cerousel-dots-position;

      .dot {
        margin: 0 6px;
        width: 8px;
        height: 8px;
      }

      .dot.selected,
      .dot:hover {
        width: 10px;
        height: 10px;
      }
    }
  }

  .carousel .control-next.control-arrow:before {
    // content: url("../../../../../images/right_arrow.png");
    border-left: none !important;
  }
  .carousel .control-prev.control-arrow:before {
    // content: url("../../../../../images/left_arrow.png");
    border-right: none !important;
  }
  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    span {
      position: unset !important;
    }
  }
}
.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}
.carousel.carousel-slider{
  @media (max-width: $xlarge-screen) {
    padding-bottom: 0rem;
}
}